@use "../../styles/colors" as *;

.cart {
  background-color: $secondery-color;
  min-height: calc(100vh - 81px);
  h1 {
    color: $header;
  }
  .empty {
    border-bottom: 2px solid $main-color;
  }
  a {
    color:$white;
    text-decoration: none;
  }
  .card {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border: none !important;
  }
  .totalAmount {
    font-weight: bold;
    font-size: 1.5rem;
  }
}
